<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>ui</param-name>
			<param-value>com.example.weatherwebapp.WeatherwebappUI</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>